.key{
    height: 200px;
    width: 30px;
    border: 1px solid black;
    display: inline-flex;
    align-items: flex-end;
}

.whiteKey{
    background: whitesmoke;
}

.blackKey{
    background: black;
    color: white;
    height: 150px;
    position: absolute;
    top: 0;
    margin-left: -15px;
    border: 5px solid whitesmoke;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}